
@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<object>
@{
    List<WebApplication1.Models.Project> projects = Model.ToArray()[0] as List<WebApplication1.Models.Project>;
}
@section styles
    {
@Styles.Render("~/bundles/css/home")
}
@section popups
{
    @Html.Partial("../forms/projects/add")
    }
    <header></header>
    <div class="page-container">
        <div class="nav-container">
            <div class="nav col-md-2">
                <nav>
                    <ul>
                        <a href="index.html" class="red-fg-color bold">
                            <i class="fa fa-home red-fg-color"></i>
                            Home
                        </a>
                        <a href="#new-project" class="red-fg-color bold">
                            <i class="fa fa-plus red-fg-color"></i>
                            New Project
                        </a>
                        <a href="#projects" class="red-fg-color bold">
                            <i class="fa fa-suitcase red-fg-color"></i>
                            Projects
                        </a>
                        <a href="/ControlPanel" class="red-fg-color bold">
                            <i class="fa fa-gear red-fg-color"></i>
                            Control Panel
                        </a>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="page-container-content  col-md-10 fl-left">
            <section id="new-project" class="new-project dark-bg-color">
                <div class="container">
                    <div class="col-md-8 text-left">
                        <h2 class="section-title  text-left">
                            Start New Project
                        </h2>
                        <p>
                            Start your project now with a creative marketing team <br> that will lead it to imaginational success
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <button class="red-btn" data-popup="newproject">Start</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            <section class="projects" id="projects">
                <div class="container-fluid">
                    <h2 class="section-title">
                        Non Assigned Projects
                    </h2>
                    <div class="input-container col-md-8">
                        <label for="search" class="input-label">Search For Project</label>
                        <input class="cards-search" type="text" id="search">
                    </div>
                    <div class="input-container col-md-4">
                        <label for="category" class="input-label">Category</label>
                        <input type="text" id="category">
                    </div>
                    <div class="clearfix"></div>
                    <div class="cards">
                        @foreach (var project in projects)
                        {
                            <div class="card">
                                <div class="image">
                                    <div class="background"></div>
                                    @if (project.picture == null)
                                    {
                                        <img src="~/Content/img/project.jpg">
                                    }
                                    else
                                    {
                                        <img src="~/Content/img/projects/@project.picture">

                                    }
                                    <div class="options">
                                        <a href="/Project/Profile/@project.id"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-eye"></i></button></a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3>Project Title</h3>
                                    <div class="customer-info">
                                        <a href="/User/Profile/@project.User.id">
                                            <div class="info text-center">
                                                @if (project.User.picture == null)
                                                {
                                                   <img src="~/Content/img/users/default.gif" alt="">
                                                }
                                                else
                                                {
                                                    <img src="~/Content/img/users/@project.User.picture" alt="">
                                                }
                                                <span class="dark-fg-color">@project.User.first_name @project.User.last_name</span>
                                            </div>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </section>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
@section scripts
    {
@Scripts.Render("~/bundles/js/home")


}
