
@{
    ViewBag.Title = "Projects";
}
@model IEnumerable<object>
@{
    List<WebApplication1.Models.Project> projects = Model.ToArray()[0] as List<WebApplication1.Models.Project>;
}
@section popups
{
    @Html.Partial("../forms/projects/add")
    @Html.Partial("../forms/projects/update")
    @Html.Partial("../forms/projects/delete")
}
<section class="projects" id="projects">
    <div class="container-fluid">
        <h2 class="section-title">
            Projects
        </h2>
        <div class="projects-contents">
            <div class="input-container col-md-7">
                <label for="search" class="input-label">Search For Project</label>
                <input type="text" class="cards-search" id="search">
            </div>
            <div class="col-md-3">
                <select name="project-status" class="selectpicker" title="Project Status">
                    <option>All</option>
                    <option>Delivered</option>
                    <option>On Progress</option>
                    <option>Not Assigned</option>
                </select>
            </div>
            <button data-popup="add-project" class="red-btn col-md-2">
                Add
            </button>
            <div class="clearfix"></div>
            <div class="cards">
                @foreach (var project in projects)
                {
                    <div class="card">
                        <div class="image">
                            <div class="background"></div>
                            @if (project.picture == null)
                            {
                                <img src="~/Content/img/project.jpg">
                            }
                            else
                            {
                                <img src="~/Content/img/projects/@project.picture">

                            }
                            <div class="options">
                                <a href="/Project/Profile/@project.id"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-eye"></i></button></a>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>@project.title</h3>
                            <div class="customer-info">
                                <a href="/User/Profile/@project.User.id">
                                    <div class="info fl-left">
                                        @if (project.User.picture == null)
                                        {
                                            <img src="~/Content/img/users/default.gif" alt="">
                                        }
                                        else
                                        {
                                            <img src="~/Content/img/users/@project.User.picture" alt="">
                                        }
                                        <span class="dark-fg-color">@project.User.first_name @project.User.last_name</span>
                                    </div>
                                </a>
                                <div class="date fl-right">
                                    <span class="grey-fg-color">2 Days Ago</span>
                                </div>
                                <div class="clearfix"></div>
                                <div class="status text-center">
                                    @if (project.status == 1)
                                    {
                                        <span class="not-assigned">Not Assigned</span>
                                    }
                                    else if (project.status == 2)
                                    {
                                        <span class="on-progress">On Progress</span>
                                    }

                                    else if (project.status == 3)
                                    {
                                        <span class="delivered">Delivered</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</section>

@section scripts
{
    <script>
        $("select[name='project-status']").change(function () {
            alert($(this).parent().parent().html());
            var filter = $(this).val();
            if (filter == "All")
            {
                $(".cards .card").show(300);
            }

            else
            {
                var container = $(this).parent().parent().siblings(".cards").find(".card .status span");
                container.each(function () {
                    if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                        $(this).parent().parent().parent().parent().hide(300);
                    } else {
                        $(this).parent().parent().parent().parent().show(300);
                    }
                });
            }
        });
</script>
}

