
@{
    ViewBag.Title = "Trainees";
}
@model IEnumerable<object>
@{
    List<WebApplication1.Models.User> trainees = Model.ToArray()[0] as List<WebApplication1.Models.User>;
}
@section popups
{
    @Html.Partial("../forms/users/add")
    @Html.Partial("../forms/users/update")
    @Html.Partial("../forms/users/delete")
}
<section class="trainees" id="trainees">
    <div class="container-fluid">
        <h2 class="section-title">
            Trainees
        </h2>
        <div class="trainees-contents">
            <div class="input-container col-md-10">
                <label for="search" class="input-label">Search For Project</label>
                <input type="text" class="cards-search" id="search">
            </div>
            @if((string)Session["role_name"] == "Admin")
            {
                <button data-popup="add-user" class="red-btn col-md-2">
                    Add
                </button>
            }
            <div class="clearfix"></div>
            <div class="cards">
                @foreach (var trainee in trainees)
                {
                    <div class="card">
                        <div class="image">
                            <div class="background"></div>
                            @if (trainee.picture == null)
                            {
                                <img src="~/Content/img/users/default.gif">
                            }
                            else
                            {
                                <img src="~/Content/img/users/@trainee.picture">
                            }
                            <div class="options">
                                @if((string)Session["role_name"] == "Admin")
                                {
                                    <a data-popup="delete-user" data-id="@trainee.id"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-close"></i></button></a>
                                }
                                <a href="/User/Profile"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-eye"></i></button></a>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>@trainee.first_name @trainee.last_name</h3>
                            <h4>@trainee.Role.name</h4>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</section>
